<!DOCTYPE html>
<html lang="en">
  	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
		<link href="{{ webpack.css }}" rel="stylesheet" />
	</head>
	<body class=''>
		<h1 id="helloWorld" class="p-4 text-[50px] bg-[pink] border-black border-solid border-[5px]">
			Hello, Bradley!
		</h1>
		<p>Hello, World!</p>

		<!-- Hot reload script will only be included in DEBUG mode -->
		{% if DEBUG %}
			{{ hotreload.script(url_for('hot-reload')) | safe }}
		{% endif %}

		<script src="{{ webpack.js }}"></script>
		<script src="{{ webpack.home_page_js }}"></script>
	</body>
</html>
