<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link
			href="{{webpack.css}}"
			rel="stylesheet"
		/>
	</head>
	<body>
		<p class=" text-[50px]">Authenticated User Page</p>
		<br/>
		<p>Authenticated User: {{user_name}}</p>


		<!-- Hot reload script will only be included in DEBUG mode -->
		{% if DEBUG %}
			{{ hotreload.script(url_for('hot-reload')) | safe }}
		{% endif %}
		<script src="{{webpack.js}}"></script>
		<script src="{{ webpack.authenticated_user_page_js }}"></script>
	</body>
</html>
